<div class="row">
  <div class="small-10 large-5 columns home">
    
        <h5>Vocabulary Sets </h5>
      
      <% @movies.each do |movie| %>
        
          <p>
            <%= link_to movie.title, movie_path(movie) %>
            <% if user_signed_in? %>
              <% if current_user.id == movie.user_id %>
                <%= link_to " | Delete", movie_path(movie), 
                  method: :delete, 
                  class: 'delete-movie' %>
              <% end %>
            <% end %>
          </p>
      <% end %>
    
  </div>

  <div class="small-2 large-7 columns ascii_img">
      <%= render 'ascii_indy' %>
  </div>
</div>
