<div class="row">
  <div class="small-10 large-5 columns home">
    <h5>Vocabulary Sets </h5><br>
    <% @movies.each do |movie| %>
      <p><%= link_to movie.title, movie_path(movie) %></p>
    <% end %>
  </div>

  <div class="small-0 large-7 columns ascii_img">
      <%= render 'ascii_indy' %>
  </div>
</div>
