<div class="row">
  <div class="large-6 columns">
    <h3>Add a Movie</h3>

    <%= simple_form_for @movie do |f| %>
      <%= f.input :title %>
      
      <!-- changed from :script -->
      <%= f.file_field :subtitle_file_url %>

      <%= f.button :submit, 'Add Movie' %>
    <% end %>
  </div>
</div>
