<h3><%= @word.content %></h3>
<!-- need pagination for large numbers -->
 
<h5>.. and the sentences <em><%= @word.content %></em> appears in:</h5>

<% @sentences.each do |sentence| %>
  <li><%= sentence.content %></li>
<% end %>
