<div class="row">
  <div class="small-4 large-4 columns show">
    <div class="personal_info">
      <h2>Chris Allen</h2>
      <h4><%= link_to "github.com/cehallen/oscar", "https://github.com/cehallen/oscar" %></h4>
      <h4 id="linkedin"><%= link_to "linkedin.com/in/callen2043/", 
        "https://www.linkedin.com/in/callen2043/" %></h4>
      <h4><%= link_to "inoqus.ghost.io", "https://inoqus.ghost.io" %></h4><br>
     <!--  <p>As a language student, I always wish I could gain more from watching movies.  The characters speak fast, and plots keep moving, so any new words are usually left unlearned.  For the many people learning English and watching Western movies, hopefully this app can help.</p> -->
    </div>
  </div>

  <div class="small-8 large-8 columns">
    <div class="word_context">
      <div class="ascii_right">
        <%= render 'movies/ascii_jaws' %>
      </div>
    </div>
  </div>
</div>
