.word_list {
  float: left;
}

.word_list li {
  list-style-type: none;
}

.word_context {
  padding-left: 30px;
  border-left: 1px dotted #DE4260;
  float: left;
  max-height: 90%;
  position: fixed;
  overflow: scroll;
}

.context_block p {
  margin: 0px;
  padding: 0px;
}

.context_block {
  padding: 10px;
}

.show {
  padding-left: 35px;
}

.word_link_div {
  padding-top: 14px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.word_link_div a:hover{
  color: #DE4260;
}

.ascii_right {
  padding-top: 30px;
  width: 87%;
  height: auto;
  overflow: hidden;
}

.personal_info {
  padding-top: 100px;
}

.personal_info h4 {
  color: blue;
}

.personal_info h2 {
  color: #7f7b78;
  padding-top: 130px;
  padding-bottom: 25px;
}

.personal_info p {
  color: #008cba;
  padding: 0px;
}

.personal_info a {
  color: #DE4260;
}





