.word_list {
  float: left;
}

.word_list li {
  list-style-type: none;
}

.word_context {
  padding-left: 30px;
  border-left: 1px dotted #DE4260;
  float: left;
  max-height: 90%;
  position: fixed;
  overflow: scroll;
}

.context_block p {
  margin: 0px;
  padding: 0px;
}

.context_block {
  padding: 10px;
}

.show {
  padding-left: 35px;
}

.word_link_div {
  padding-top: 14px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.word_link_div a:hover{
  color: #DE4260;
}
